# Streamlit secrets (CRITICAL)
.streamlit/secrets.toml

# Python environment & cache
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Distribution / Packaging ---
# If you ever build a package, ignore these
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
